.button {
  display: block;
  border-radius: 8px;
  padding: 15px calc(10px + 15%);
  background-color: #121212;
  text-align: center;
  text-decoration: none;
  transition: background-color ease-out 0.15s;
  cursor: pointer;
}

.button > span {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: cubic-bezier(0.54, 1.5, 0.71, 1.07) 0.2s;
}

.button:hover {
  background-color: #e50041;
}

.button:hover > span {
  letter-spacing: 3px;
}

/* Transitions ----------------------------------------------*/
@keyframes sf-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes sf-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes sf-top {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sf-bottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding: 50px 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

.layout-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 5fr;
}

.timeline-container {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
  max-height: 100vh;
  overflow-y: hidden;
  padding: calc(20px + 2vh) calc(10px + 2vw);
  box-shadow: 5px 0 5px #e1e1e1;
}
.timeline-container .line {
  position: absolute;
  left: calc(40px + 2vw);
  margin-top: calc(30px + 2vh);
  height: 100vh;
  width: 13px;
  border: 1px solid #000000;
  z-index: -1;
}
.timeline-container .time-dot {
  position: relative;
  left: 20px;
  width: 35px;
  fill: #e50041;
}
.timeline-container .timeline-section .section-header {
  background-color: #FFFFFF;
  margin-bottom: 15px;
  cursor: pointer;
}
.timeline-container .timeline-section .section-header h2 {
  display: block;
  font-weight: 600;
  transition: cubic-bezier(0.54, 1.5, 0.71, 1.07) 0.2s;
  margin: 0;
  padding: 0;
}
.timeline-container .timeline-section .section-header .timespan {
  display: inline-block;
  font-style: italic;
  font-size: 0.8rem;
  margin-left: 5px;
}
.timeline-container .timeline-section .section-header .active {
  color: #e50041 !important;
}
.timeline-container .timeline-section .active h2 {
  color: #e50041 !important;
}
.timeline-container .timeline-section .section-header:hover h2 {
  letter-spacing: 1px;
  color: #6d6d6d !important;
}
.timeline-container .timeline-section .active:hover h2 {
  color: #e50041 !important;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-left: 43px;
}
.event-list .event-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 5px 20px 5px 15px;
  border-radius: 0px 5px 5px 0px;
  gap: 10px;
  text-decoration: none;
  color: #000000;
  transition: background-color 200ms ease;
  transition: ease 0.2s;
}
.event-list .event-container .event-dash {
  stroke: #e50041;
  height: 2px;
}
.event-list .event-container .event-title {
  font-style: italic;
}
.event-list .event-container:hover {
  background-color: #acacac;
  letter-spacing: 1px;
}
.event-list .active {
  background-color: #e1e1e1;
}
.event-list .active .event-title {
  font-style: italic;
  font-weight: 700;
}
.event-list .active:hover {
  background-color: #e1e1e1;
  letter-spacing: 0px;
}

.content-container {
  width: 100%;
  height: 100%;
  padding: 30px calc(40px + 1vw);
  scroll-behavior: smooth;
  scroll-padding: 30px 0;
  overflow-y: scroll;
}

/*# sourceMappingURL=content.css.map */
