@use 'variables' as *;
@use 'transition' as *;

$h3-height: 0.5rem;
$h3-scale: 1vw;
$h1-base-height: 4rem;
$h1-scale: 12vw;
$h1-margin-correction: calc($h1-scale / -5);

h1 {
   font-family: $primary-font;
   font-weight: 900;
   font-size: calc($h1-base-height + $h1-scale);
   line-height: calc($h1-base-height + $h1-scale);
   margin: 0;
   
   color: $black;
}

h3 {
   font-family: $primary-font;
   font-weight: 600;
   font-size: calc($h3-height + $h3-scale);
   margin: 0;

   color: $highlight;
}

.landing-bg-text {
   background: url(../../img/landing_light.jpg) -800px ;
   background-color: $dark-gray;
   background-size: auto 90vh;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   -webkit-text-fill-color: transparent;
}