@use 'variables' as *;

/* Transitions ----------------------------------------------*/

@keyframes sf-right {
   from {
     opacity: 0;
     transform: translateX(50%);
   } 
   to {
     opacity: 1;
     transform: translateX(0);
   }
 }
 
@keyframes sf-left {
   from {
      opacity: 0;
      transform: translateX(-50%);
   } 
   to {
      opacity: 1;
      transform: translateX(0);
   }
}
 
@keyframes sf-top {
   from {
      opacity: 0;
      transform: translateY(-50%);
   } 
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
 
@keyframes sf-bottom {
   from {
      opacity: 0;
      transform: translateY(50%);
   } 
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
 
@keyframes fade-in {
   from {
      opacity: 0;
   } 
   to {
      opacity: 1;
   }
}

@mixin slide-from-left($ms: $default-transition) {
   animation: sf-left #{$ms}ms ease;
 }

@mixin slide-from-right($ms: $default-transition) {
   animation: sf-right #{$ms}ms ease; 
}

@mixin slide-from-top($ms: $default-transition) {
   animation: sf-top #{$ms}ms ease; 
}

@mixin slide-from-bottom($ms: $default-transition) {
   animation: sf-bottom #{$ms}ms ease; 
}

@mixin smooth-color($ms: $default-quick) {
   transition: color #{$ms}ms ease;
}