// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap');

$primary-font: 'Nunito Sans', sans-serif;
$white: #FFFFFF;
$dark-gray: #121212;
$black: #000000;

$highlight: #e50041;
$default-transition: 1000;