$primary-font: 'Nunito Sans', sans-serif;
$white: #FFFFFF;
$light-gray: #e1e1e1;
$med-gray: #acacac;
$dark-med-gray: #6d6d6d;
$dark-gray: #121212;
$black: #000000;

$highlight: #e50041;
$default-transition: 1000;
$default-quick: 200;