@use 'variables' as *;
@use 'button' as *;
@use 'text' as *;
@use 'transition' as *;

// Content Variables
$circle-offset-x: 20px;
$event-offset-x: 43px;
$timeline-offset-x: calc(40px + 2vw);

@mixin fill-container {
   width: 100%;
   height: 100%;
}

@mixin no-bounds {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}

.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none; 
   -khtml-user-select: none; 
   -moz-user-select: none; 
   -ms-user-select: none; 
   user-select: none; 
 }

// LAYOUT

html {
   @include fill-container;
   scroll-behavior: smooth;
   scroll-padding: 50px 0;
}

body {
   @include fill-container;
   @include no-bounds;
   font-family: $primary-font;
   color: $dark-gray;
}

a {
   text-decoration: none;
   color: $dark-gray;
}

.layout-container {
   @include fill-container;
   @include no-bounds;
   display: grid;
   grid-template-columns: minmax(400px, 1fr) 5fr;
}

.timeline-container {
   @include fill-container;
   display: grid;
   position: relative;

   // Prevent overflow on timeline lines
   max-height: 100vh;
   overflow-y: hidden;

   padding: calc(20px + 2vh) calc(10px + 2vw);
   box-shadow: 5px 0 5px $light-gray;

   .line {
      position: absolute;
      left: $timeline-offset-x;
      margin-top: calc(30px + 2vh);
      height: 100vh;
      width: 13px;
      border: 1px solid $black;
      z-index: -1;
   }

   .time-dot {
      position: relative;
      left: $circle-offset-x;
      width: 35px;
      fill: $highlight;
   }

   .timeline-section {

      .section-header {
         
         background-color: $white;
         margin-bottom: 15px;
         cursor: pointer;
         
         h2 {
            display: block;
            font-weight: 600;
            transition: cubic-bezier(.54,1.5,.71,1.07) .2s;
            // transition: color ease .2s;
            @include no-bounds;
            // @include smooth-color;
         }

         .timespan {
            display: inline-block;
            font-style: italic;
            font-size: 0.8rem;
            margin-left: 5px;
         }

         .active {
            color: $highlight !important;
         }
      }

      .active {
         h2 {
            color: $highlight !important;
         }
      }
      
      .section-header:hover {
         h2 {
            letter-spacing: 1px;
            color: $dark-med-gray !important;
         }
      }

      .active:hover {
         h2 {
            color: $highlight !important;
         }
      }
   }
}

.event-list {

   display: flex;
   flex-direction: column;
   gap: 3px;
   padding-left: $event-offset-x;

   .event-container {

      display: flex;
      align-items: center;
      margin-right: auto;
      padding: 5px 20px 5px 15px;
      border-radius: 0px 5px 5px 0px;
      gap: 10px;

      text-decoration: none;
      color: $black;
      
      @include smooth-bg-color;
      transition: ease .2s;


      .event-dash {
         stroke: $highlight;
         height: 2px;
      }

      .event-title {
         font-style: italic;
      }
      
   }

   .event-container:hover {
      background-color: $med-gray;
      letter-spacing: 1px;
   }

   .active {
      background-color: $light-gray;

      .event-title {
         font-style: italic;
         font-weight: 700;
      }
   }

   .active:hover {
      background-color: $light-gray;
      letter-spacing: 0px;
   }
   
}

.content-container {

   @include fill-container;
   padding: 30px calc(40px + 1vw);

   scroll-behavior: smooth;
   scroll-padding: 30px 0;
   overflow-y: scroll;
}