/* Transitions ----------------------------------------------*/
@keyframes sf-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes sf-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes sf-top {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sf-bottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button {
  display: block;
  border-radius: 8px;
  padding: 15px calc(10px + 15%);
  background-color: #121212;
  text-align: center;
  text-decoration: none;
  transition: background-color ease-out 0.15s;
  cursor: pointer;
}

.button > span {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: cubic-bezier(0.54, 1.5, 0.71, 1.07) 0.2s;
}

.button:hover {
  background-color: #e50041;
}

.button:hover > span {
  letter-spacing: 3px;
}

.icon-button {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgb(224, 224, 224);
  transition: background-color 100ms ease;
}
.icon-button svg {
  fill: #e50041;
  width: 30px;
  height: 30px;
}

.icon-button:hover {
  background-color: #e1e1e1;
}

.section-begin {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.section-begin h1 {
  animation: sf-right 1000ms ease;
  text-align: end;
  text-transform: uppercase;
  font-weight: 900;
  color: #000000;
  font-size: calc(2rem + 4vw);
  z-index: 0;
}
.section-begin .design {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: -30%;
  z-index: -3;
  height: 100%;
  width: 80vw;
  animation: sf-left 1000ms ease;
}
.section-begin .design span {
  display: block;
  font-size: calc(13rem + 4vw);
  line-height: calc(13rem + 4vw - 2.962962963vw);
  text-transform: uppercase;
  font-weight: 900;
  background: url(../../img/design.jpg) -800px;
  background-color: rgb(255, 170, 184);
  background-size: auto calc(2 * (13rem + 4vw));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.section-begin .design span .shift-left {
  display: block;
  transform: translateX(-20%);
}

.chapter {
  min-height: 100vh;
}
.chapter h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
}
.chapter h3 {
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 3rem;
}
.chapter p {
  font-family: "Gelasio", serif;
  color: #121212;
  line-height: 2.5rem;
  font-size: 1.05rem;
  padding-left: -3em;
  text-indent: 3em;
}
.chapter .note {
  font-size: 0.85rem;
  font-style: italic;
  padding-left: 0;
  text-indent: 0;
}
.chapter .references::before {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 30px 0;
}
.chapter .references {
  margin-bottom: calc(20px + 10vh);
}
.chapter .references h4 {
  font-size: 1rem;
  font-family: "Gelasio", serif;
}
.chapter .references p {
  font-size: 0.76rem;
  padding-left: 3em;
  text-indent: -3em;
}
.chapter .section-content {
  max-width: 1000px;
  padding: 0 calc(20px + 4vw);
  margin-left: auto;
  margin-right: auto;
}

#hca-quote {
  display: grid;
  width: 100%;
  margin-bottom: 50px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}
#hca-quote .quote {
  color: #FFFFFF;
  font-size: 1.1rem;
  line-height: 2.3rem;
  padding: 50px;
}
#hca-quote .quote-author {
  margin-top: 3rem;
}
#hca-quote .image-container {
  display: flex;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  margin: 0;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.quote {
  padding: 20px 0;
  font-family: "Gelasio", serif;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
.quote .quote-author {
  margin-top: 1rem;
  font-weight: 600;
  text-align: right;
}

.captioned-container {
  font-family: "Gelasio", serif;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 2rem;
}
.captioned-container .caption {
  text-align: center;
  font-style: italic;
  color: #121212;
  padding: 5px;
  background-color: #FFFFFF;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 20px;
  gap: 10px;
}

.caption {
  font-family: "Gelasio", serif;
  font-style: italic;
  text-align: center;
}

.caption-citation {
  font-size: 0.75rem;
  text-align: left;
  padding-left: 3em;
  text-indent: -3em;
  padding-bottom: 1rem;
}

.full {
  margin: 0 auto;
  width: 100%;
}
.full img {
  width: 100%;
}

.left {
  margin-left: -5vw;
  float: left;
  height: 400px;
}
.left img {
  height: calc(100% - 2rem);
}

.right {
  margin-right: -5vw;
  float: right;
  height: 400px;
}
.right img {
  height: calc(100% - 2rem);
}

* {
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding: 50px 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: #121212;
}

a {
  text-decoration: none;
  color: #121212;
}

.layout-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 5fr;
}

.timeline-container {
  animation: sf-left 1000ms ease;
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
  max-height: 100vh;
  overflow-y: hidden;
  padding: calc(20px + 2vh) calc(10px + 2vw);
  box-shadow: 5px 0 5px #e1e1e1;
}
.timeline-container .line {
  animation: sf-bottom 1000ms ease;
  position: absolute;
  left: calc(40px + 2vw);
  margin-top: calc(30px + 2vh);
  height: 100vh;
  width: 13px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  z-index: -1;
}
.timeline-container .time-dot {
  position: relative;
  left: 23px;
  width: 27px;
  fill: #e50041;
}
.timeline-container .timeline-section .section-header {
  display: block;
  background-color: #FFFFFF;
  padding-bottom: 3px;
  margin-bottom: 0;
  cursor: pointer;
}
.timeline-container .timeline-section .section-header h2 {
  display: block;
  font-weight: 600;
  transition: cubic-bezier(0.54, 1.5, 0.71, 1.07) 0.2s;
  margin: 0;
  padding: 0;
}
.timeline-container .timeline-section .section-header .timespan {
  display: inline-block;
  font-style: italic;
  font-size: 0.8rem;
  margin-left: 5px;
}
.timeline-container .timeline-section .section-header .active {
  color: #e50041 !important;
}
.timeline-container .timeline-section .active h2 {
  color: #e50041 !important;
}
.timeline-container .timeline-section .section-header:hover h2 {
  letter-spacing: 1px;
  color: #6d6d6d !important;
}
.timeline-container .timeline-section .active:hover h2 {
  color: #e50041 !important;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-left: 43px;
}
.event-list .event-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 5px 20px 5px 10px;
  border-radius: 0px 5px 5px 0px;
  gap: 8px;
  text-decoration: none;
  color: #000000;
  transition: background-color 200ms ease;
  transition: ease 0.2s;
}
.event-list .event-container .event-dash {
  stroke: #e50041;
  height: 2px;
}
.event-list .event-container .event-title {
  font-style: italic;
}
.event-list .event-container:hover {
  background-color: #acacac;
  letter-spacing: 1px;
}
.event-list .active {
  background-color: #e1e1e1;
}
.event-list .active .event-title {
  font-style: italic;
  font-weight: 700;
}
.event-list .active:hover {
  background-color: #e1e1e1;
  letter-spacing: 0px;
}

.content-container {
  width: 100%;
  height: 100%;
  padding: 30px calc(40px + 2vw) 30px;
  scroll-behavior: smooth;
  scroll-padding: 30px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#home {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

/*# sourceMappingURL=content.css.map */
