{# Timeline Creation #}

{% macro timeline_event(title, timeline_title, anchor) -%}
<a class="event-container"  id="timeline-{{ anchor }}" href="#{{ anchor }}">
   <svg class="event-dash" viewBox="0 0 50 2" xmlns="http://www.w3.org/2000/svg">
      <line x1="0" y1="1" x2="50" y2="1" stroke-dasharray="2"/>
   </svg>
   <span class="event-title">{{ timeline_title }}</span>
</a>
{%- endmacro %}

{% macro timeline_section(s) -%}
<section class="timeline-section noselect">
   <svg class="time-dot" viewBox="0 0 2 2" xmlns="http://www.w3.org/2000/svg">
      <circle cx="1" cy="1" r="1" />
      </svg>
   <a class="section-header" id="timeline-{{ s['anchor'] }}" href="#{{ s['anchor'] }}">
      <h2>{{ s['title'] }}</h2>
      <span class="timespan">{{ s['date_range'] }}</span>
   </a>
   <div class="event-list" data-section-no="{{ s['section_no'] }}">
      {% for event in s['event_list'] %}
         {{ timeline_event(event['title'], event['timeline_title'], event['anchor']) }}
      {% endfor %}
   </div>
</section>
{%- endmacro %}

{% macro list_sections(data) -%}
{%- for section in data %}
{{ timeline_section(data[section]) }}
{%- endfor %}
{%- endmacro%}

{# Content Creation #}

{% macro section_start(section_obj) -%}
<div id="{{ section_obj['anchor'] }}" class="content-tracked section-begin" data-anchor="{{ section_obj['anchor'] }}">
   <div class="design">
      <span class="design-text">{{ section_obj['title'] }}
         <span class="shift-left">{{ section_obj['title'] }}</span>
      </span>
   </div>
   <h1>{{ section_obj['section_display'] }}</h1>
</div>
{%- endmacro %}

{% macro make_chapter(obj) -%}
<div id="{{ obj['anchor'] }}" class="content-tracked chapter" data-anchor="{{ obj['anchor'] }}"> 
   <h2>{{ obj['title'] }}</h2>
   <p>{{ obj['text'] }}</p>
</div>
{%- endmacro %}

{% macro make_body(data, content) -%}
   {%- for section in data %}
      {{ section_start(data[section]) }}
      {%- for event in (data[section])['event_list'] %}
         {{ make_chapter(content[event['title']]) }}
      {%- endfor%}
   {%- endfor %}
{%- endmacro %}