{% import 'components.j2' as c -%}

<!DOCTYPE html>
<html lang="en">
   <head>
      <title>MENASA in NYC</title>
      <meta charset="UTF-8">
      <meta name="description" content="MHC 150 - MENASA Final Project">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
      <link rel="icon" type="image/x-icon" href="images/favicon.ico">
      
      <!-- Stylesheets & Javascript -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600&display=swap" rel="preload" as="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
   </head>
   <body>
      <div class="layout-container">
         <div class="timeline-container">
            <div class="line"></div>
            {{ c.list_sections(timeline) }}
         </div>
         <div class="content-container">
            {{ c.make_chapter(content['New Fangled Title']) }}
            {{ c.make_chapter(content['More Coffee']) }}
         </div>
      </div>
   </body>
   <script src="{{ url_for('static', filename='js/script.js') }}"></script>
   <script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
</html>