{% import 'components.j2' as c -%}

<!DOCTYPE html>
<html lang="en">
   <head>
      <title>MENASA in NYC</title>
      <meta charset="UTF-8">
      <meta name="description" content="MHC 150 - MENASA Final Project">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
      
      <!-- Stylesheets & Javascript -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,400;1,600&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600&display=swap" rel="preload" as="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
   </head>
   <body>
      <div class="layout-container">
         <div class="timeline-container">
            <a href="/" id="home" class="icon-button">
               <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-house-door" viewBox="0 0 16 16">
                  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
               </svg>
            </a>
            <div class="line"></div>
            {{ c.list_sections(timeline) }}
         </div>
         <div class="content-container" id="content">
            {{ c.make_body(timeline, content) }}
         </div>
      </div>
   </body>
   <script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
</html>